<div class="container py-5">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/sidebar',genres: @genres %>
    </div>
    <div class="col-md-9 mx-auto">
      <div class="row-md-9 pb-3">
        <div class="d-flex">
          <h2 class="mr-auto">商品一覧（全<%= @total_items.count %>件）</h2>
          <%= link_to(new_admin_item_path, method: :get) do %>
            <i class="fa-solid fa-circle-plus plus"></i>
          <% end %>
        </div>
      </div>
      <%= render 'admin/items/index' %>
    </div>
  </div>
</div>
