  <% if @range == "事務員" %>
    <% if @admins == [] %>
      <h2 class = "text-center mt-5 mx-auto">検索結果はありません</h2>
    <% else %>
  　   <%= render 'public/admins/index' %>
  　<% end %>
　<% elsif @range == "注文" %>
　  <% if @orders == [] %>
      <h2 class = "text-center mt-5 mx-auto">検索結果はありません</h2>
    <% else %>
  　   <%= render 'public/orders/index' %>
  　<% end %>
  <% elsif @range == "商品"%>
    <% if @items == [] %>
      <h2 class = "text-center mt-5 mx-auto">検索結果はありません</h2>
    <% else %>
  　 <div class="container py-5">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div class="row-md-10 pb-3">
              <h2 class="mr-auto">商品一覧（全<%= @items.count %>件）</h2>
            </div>
            <%= render 'public/items/index' %>
          </div>
        </div>
      </div>
  　<% end %>
  <% end %>