<div class="container py-5">
  <div class='row'>
    <div class="col-md-10 mx-auto">
      <div class="text-center mt-5 mb-5">
        <h2>注文を送信しました</h2>
        <%= link_to "注文履歴を見る", orders_path, class: "btn btn-success w-50 mt-5" %>
      </div>
    </div>
  </div>
</div>
