<div class="row-md-9 pb-3">
  <div class="d-flex flex-wrap">
    <% @items.each do |item| %>
      <div class="card-group">
        <div class="card shadow-sm">
          <%= link_to item_path(item) do %>
            <%= image_tag item.image, class: "bd-placeholder-img card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text">￥<%= item.price_with_tax.to_s(:delimited) %></p>
              <% unless item.is_stopped == false %>
                <p class="card-text font-weight-bold text-danger">Sold Out</p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>